<div class="footer bg-custom text-center text-md-start">
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-8 col-md-5 col-lg-2 mb-5">
                <img class="brand-logo" src="../../assets/img/brand-logo-inverted.png" alt="brand-logo">
            </div>
        </div>
        <div class="row justify-content-center px-4">
            <div class="col-10 mb-3 col-md-5 col-lg-5">
                <h5>Contacts</h5>
                <p>Address: Via della Seta, 123</p>
                <p>Email: Develop@gmail.com</p>
                <p>Phone: +39 623-466-7890</p>
            </div>
            <div class="col-10 mb-3 col-md-4 col-lg-5">
                <h5>Links</h5>
                <ul>
                    <li><a href="#">HomePage</a></li>
                    <li><a href="#" [routerLink]="['create']">Create Profile</a></li>
                </ul>
            </div>
            <div class="col-10 col-md-3 mb-2 col-lg-2">
                <h5>Follow us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
