.brand-logo{
    height: 50px;
    margin: 0 auto;
}


.bg-custom{
    background-color: #4700df;
}

.footer{
    color: white;
    font-family: 'Roboto Mono', monospace;
}

ul{
    padding: 0;
    li{
        list-style-type: none;
        a{
            color: white;
            text-decoration: none;
        }
    }
}