h1,h2{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 3rem;
    color: #4700df;
}


button {
    background: #4700df;
    color: white;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
  }
  
  span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

  @media (max-width:768px) {
    button{
        width:90px;
    }
    .search-fields{
        width: 300px;
        margin-bottom: 1rem;
    }
    .form-select{
        width: 300px;
        margin-bottom: 1rem;
    }
  }