<div class="main-content">
    <div class="container p-5 p-md-0">
        <div *ngIf="dati" class="row justify-content-center flex-wrap" >
            <h2 class="p-5 text-center">STAFF</h2>
            <div class="card mb-5 p-4 col-12 col-md-5 col-lg-3 mx-2" *ngFor="let item of dati">
                    <div class="card-body">
                      <h5 class="card-title">{{item.nome}} {{item.cognome}}</h5>
                      <p class="card-text">Email: {{item.email}}</p>
                      <p class="card-text">Comune: {{item.comune}}</p>
                      <a href="#" class="btn btn-primary me-2" (click)="editItem(item.id, newData)">Edit</a>
                      <a href="#" class="btn btn-danger" (click)="deleteItem(item.id)">Delete</a>
                    </div>
            </div>
        </div>
    </div>
  </div>
  