<div class="edit">
  <div class="container">
    <div class="row justify-content-center p-4 pt-5">
      <div class="col-11 col-md-8 col-lg-5">
        <h1 class="text-center mb-3">
          Edit Profile
        </h1>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="nome" class="form-label">Name</label>
            <input type="text" class="form-control" id="nome" formControlName="nome" [(ngModel)]="item.nome" value="{{item.nome}}">
            <div *ngIf="editForm.get('nome')?.hasError('required') && editForm.get('nome')?.touched" class="text-danger">
              Name is required.
            </div>
            <div *ngIf="editForm.get('nome')?.hasError('minlength') && editForm.get('nome')?.touched" class="text-danger">
              Name must be at least 4 characters long.
            </div>
          </div>
          <div class="mb-3">
            <label for="cognome" class="form-label">Surname</label>
            <input type="text" class="form-control" id="cognome" name="cognome" formControlName="cognome" aria-describedby="cognome" [(ngModel)]="item.cognome" value="{{item.cognome}}">
            <div *ngIf="editForm.get('cognome')?.hasError('required') && editForm.get('cognome')?.touched" class="text-danger">
              Surname is required.
            </div>
            <div *ngIf="editForm.get('cognome')?.hasError('minlength') && editForm.get('cognome')?.touched" class="text-danger">
              Surname must be at least 4 characters long.
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" formControlName="email" aria-describedby="emailHelp" [(ngModel)]="item.email" value="{{item.email}}">
            <div *ngIf="editForm.get('email')?.hasError('required') && editForm.get('email')?.touched" class="text-danger">
              Email is required.
            </div>
            <div *ngIf="editForm.get('email')?.hasError('email') && editForm.get('email')?.touched" class="text-danger">
              Email is not valid.
            </div>
            <div *ngIf="editForm.get('email')?.hasError('maxlength') && editForm.get('email')?.touched" class="text-danger">
              You have exceeded the character limit for email.
            </div>
          </div>
          <div class="mb-3">
            <label for="comune" class="form-label">Common</label>
            <input type="text" class="form-control" name="comune" id="comune" formControlName="comune" [(ngModel)]="item.comune" value="{{item.comune}}">
            <div *ngIf="editForm.get('comune')?.hasError('minlength') && editForm.get('comune')?.touched" class="text-danger">
              Common must be at least 4 characters long.
            </div>
          </div>
          <div class="mb-3">
            <label for="provincia" class="form-label">Province</label>
            <input type="text" class="form-control" name="provinciae" id="provincia" formControlName="provincia" [(ngModel)]="item.provincia" value="{{item.provincia}}">
            <div *ngIf="editForm.get('provincia')?.hasError('maxlength') && editForm.get('provincia')?.touched" class="text-danger"> 
              You have exceeded the character limit for province.
            </div>
            <div *ngIf="editForm.get('provincia')?.hasError('minlength') && editForm.get('provincia')?.touched" class="text-danger">
              Province must be at least 2 characters long.
            </div>
          </div>
          <div class="mb-3">
            <label for="note" class="form-label">Notes</label>
            <textarea class="form-control" id="note" name="note" rows="3" formControlName="note" [(ngModel)]="item.note" value="{{item.note}}"></textarea>
            <div *ngIf="editForm.get('note')?.hasError('maxlength') && editForm.get('note')?.touched" class="text-danger">
              You have exceeded the character limit for Notes.
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Edit</button>
        </form>        
      </div>
    </div>
  </div>
</div>